html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

button {
  display: inline-block;
  margin-bottom: 0.5em;
  border: solid 1px #9e9e9e;
  border-radius: 5px;
  height: 40%;
  width: 100%;

  /* &:hover {
      border-color: #336699;
  } */
}