html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

button.action-button {
  display: inline-block;
  margin-bottom: 0.5em;
  background: linear-gradient(orange, orangered);
  border: solid 1px #9e9e9e;
  border-radius: 5px;
  cursor: pointer;
  height: 40%;
  width: 100%;
}

button.action-button:hover {
  background: linear-gradient(#ff7b00, #ff3c00);
  color: #efefef;
}