$red-suit-colour: red;
$black-suit-colour: black;

.cards-container {
    border: solid 1px #bfbfbf;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.card-pile {

    .deck-pile .card {
        display: none;
    }

    .card {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }
}

.card {
    background: #eaeaea;
    border: solid 1px #3c3c3c;
    border-radius: 3px;
    margin: 5px;
    padding: 2px;
    height: 40%;
    width: 10%;
    font-size: 19px;
    transition: all 0.1s;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);

    .card-val {
        grid-column: 1;
        grid-row: 1;
        margin: auto;
    }

    .suit-img {
        grid-column: 2 / span 2;
        grid-row: 3 / span 2;
    }

    .card-val-reverse {
        grid-column: 4;
        grid-row: 6;
        margin: auto;
        transform: rotate(180deg);
    }

    &[data-suit='S'], &[data-suit='C'] {
        color: $black-suit-colour;
    }

    &[data-suit='H'], &[data-suit='D'] {
        color: $red-suit-colour;
    }

        //TODO: Make the other suit shapes via CSS
        &[data-suit='S'] .suit-img::after {
            content: "S";
        }

        &[data-suit='C'] .suit-img {
            clip-path: polygon(53% 100%, 55% 70%, 69% 78%, 85% 76%, 93% 64%, 95% 49%, 87% 43%, 72% 39%, 61% 43%, 64% 33%, 74% 26%, 69% 19%, 56% 15%, 45% 19%, 37% 25%, 35% 32%, 42% 38%, 48% 44%, 47% 50%, 42% 46%, 31% 41%, 22% 47%, 15% 54%, 14% 63%, 19% 70%, 26% 76%, 37% 76%, 46% 72%, 45% 100%);
            background: $black-suit-colour;
        }

        &[data-suit='H'] .suit-img {
            clip-path: polygon(48% 99%, 80% 64%, 79% 54%, 76% 48%, 70% 44%, 64% 40%, 61% 39%, 58% 39%, 56% 43%, 55% 48%, 55% 52%, 52% 57%, 50% 55%, 50% 53%, 50% 49%, 49% 44%, 49% 41%, 48% 39%, 46% 38%, 41% 36%, 37% 37%, 32% 39%, 29% 42%, 26% 48%, 24% 53%, 22% 59%, 22% 63%, 24% 68%);
            background: $red-suit-colour;
        }

        &[data-suit='D'] .suit-img {
            clip-path: polygon(25% 50%, 50% 10%, 75% 50%, 50% 90%);
            background: $red-suit-colour;
        }

    &[data-value='6'], &[data-value='9'] {
        .card-val, .card-val-reverse {
            text-decoration: underline;
        }
    }

    &[data-selected='true'] {
        box-shadow: 0px 0px 5px 2px black;
    }

    &[data-hidden='true'] {
        .card-val, .suit-img, .card-val-reverse {
            display: none;
        }
    }
}