
.board-container {
    background: #336699;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);

    .board-actions {
        display: grid;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(12, 1fr);

        grid-column: 1 / span 12;
        grid-row: 1 / span 12;

        button {
            border: solid 2px #3c3c3c;
            display: inline-block;
            border-radius: 15px;
            margin-bottom: 1px;
            cursor: pointer;
            transition: all 0.1s;

            &.start-game {
                grid-column: 4 / span 6;
                grid-row: 6 / span 2;

                font-size: 56px;
            }
            &.show-rules {
                grid-column: 4 / span 6;
                grid-row: 8 / span 1;

                font-size: 34px;
            }

            &:hover {
                box-shadow: 0 0 2px 1px black;
                background: #3c3c3c;
                color: #efefef;
            }
            &:active {
                background: #bfbfbf;
            }
        }

    }

    .player-container {
        display: grid;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(12, 1fr);
        border: solid 1px #06471c;
        background: #12923d;
        margin: 5px; 

        &[data-active='false'] {
            opacity: 0.25;
            pointer-events: none;
        }

        .player-info {
            background: #023a15;
            color: #efefef;
            padding: 0.25em 0.75em;
            font-size: 18px; 
            font-weight: bold;

            .player-name {
                display: inline-block;
                margin-right: 0.75em;
            }

            .is-turn-indicator {
                display: inline-block;
                height: 15px;
                width: 15px;
                border: solid 1px black;
                border-radius: 10px;
            }
        }

        .player-actions {
            padding: 0.75em;
        }

        &#player-area-1 {
            grid-column: 1 / span 6;
            grid-row: 1 / span 6;

            .player-info {
                grid-column: 1 / span 12;
            }

            .cards-container {
                grid-column: 1 / span 12;
                grid-row: 2 / span 7;
            }

            .player-actions {
                grid-column: 1 / span 8;
                grid-row: 9 / span 4;
            }
        }

        &#player-area-2 {
            grid-column: 7 / span 6;
            grid-row: 1 / span 6;
        
            .player-info {
                grid-column: 1 / span 12;
            }

            .cards-container {
                grid-column: 1 / span 12;
                grid-row: 2 / span 7;
            }

            .player-actions {
                grid-column: 5 / span 8;
                grid-row: 9 / span 4;
            }
        }

        &#player-area-3 {
            grid-column: 7 / span 6;
            grid-row: 7 / span 6;

            .player-info {
                grid-column: 1 / span 12;
                grid-row: 12;
            }

            .cards-container {
                grid-column: 1 / span 12;
                grid-row: 5 / span 7;
            }

            .player-actions {
                grid-column: 5 / span 8;
                grid-row: 1 / span 4;
            }
        }

        &#player-area-4 {
            grid-column: 1 / span 6;
            grid-row: 7 / span 6;
        
            .player-info {
                grid-column: 1 / span 12;
                grid-row: 12;
            }

            .cards-container {
                grid-column: 1 / span 12;
                grid-row: 5 / span 7;
            }

            .player-actions {
                grid-column: 1 / span 8;
                grid-row: 1 / span 4;
            }
        }
    }

    .player-container[data-is-turn='true'] {
        .is-turn-indicator {
            background: linear-gradient(-15deg, orange, orangered, orange);
        }
    }

    .player-container[data-is-turn='false'] {
        opacity: 0.65;
        pointer-events: none;

        .is-turn-indicator {
            background: linear-gradient(-15deg, #3c3c3c, #7c7c7c7c, #5c5c5c);
        }

        button {
            background: grey;
        }
    }

    .main-deck-area {
        display: flex;
        grid-column: 5 / span 4;
        grid-row: 5 / span 4;

        border: solid 1px #06471c;
        background: #12923d;
        margin: 10px;
        z-index: 9;

        .card-pile {
            width: 50%;
            margin: 10px;
            padding: 0.75em;
            text-align: center;
            border: solid 1px #06471c;
            background: #076325;

            .card {
                max-width: 100%;
            }

            &.deck-pile {
                overflow: hidden;
            }
        }
    }
}